<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
    <img src="<%= (typeof filename == 'undefined') ? 'https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fwww.blogcdn.com%2Fwww.engadget.com%2Fmedia%2F2008%2F10%2Fwindows-clouds.jpg&client=amp-blogside-v2&signature=d934e8daf824d30219d1454eeb2690805cc8562c' : filename  %>"
        alt="Wallpaper" width="400px" height="100%" id='photo'>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="Wall" id="Wall" required>
        <button type="submit">
            Upload
        </button>
    </form>

    <script type="text/javascript" src="../index.js"></script>
</body>
</html>
